.mobile-son{
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.mobile:hover + .mobile-son{
    max-height:inherit;
    opacity:1;
    visibility: visible;
}

.mobile-son:hover {
    max-height: inherit;
    opacity: 1;
    visibility: visible;
}
